<configuration>
    <appender name="dailyFileRollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logger.dir}open_all_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${logger.pattern}</pattern>
        </encoder>

    </appender>

    <appender name="dailySQLFileRollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logger.dir}open_sql_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${logger.pattern}</pattern>
        </encoder>

    </appender>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logger.pattern}</pattern>
        </encoder>

    </appender>

    <!-- logger -->
    <root level="${logger.root.level}" >
        <appender-ref ref="${logger.root.appender}" />
    </root>

    <logger name="cn.wzga.open" level="${logger.open.level}" additivity="false">
        <appender-ref ref="${logger.open.appender}" />
    </logger>

    <!-- hibernate -->
    <logger name="org.hibernate.SQL" level="${logger.sql.hibernate.level}" additivity="false">
        <appender-ref ref="${logger.sql.appender}" />
    </logger>
    <logger name="org.hibernate.type" level="${logger.sql.hibernate.level}" additivity="false">
        <appender-ref ref="${logger.sql.appender}" />
    </logger>

    <!-- mybatis -->
    <logger name="cn.wzga.open.mapper" level="${logger.sql.mybatis.level}" additivity="false">
        <appender-ref ref="${logger.sql.appender}" />
    </logger>


</configuration>
